.align-item {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 2%;
}

.btn {
  margin: 0 10px 0 10px;
  width: 10%;
  padding: 2%;
}

.roll-score-box {
  font-size: 70px;
  width: 170px;
  text-align: center;
  align-items: center;
  display: flex;
  height: 170px;
}

.player-box {
  margin: 2%;
  width: 40%;
  height: 300px;
}

.jumbotron {
  display: none;
}

#game-board {
  display: none;
}

#play-again-button {
  display: none;
}

#player2-turn {
  display: none;
}

img {
  width: 50%;
  background-color: none;
}

.card-title {
  text-align: center;
}