.align-item {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 2%;
}

.btn {
  margin: 0 10px 0 10px;
  width: 10%;
  padding: 2%;
}

#score-box {
  font-size: 70px;
  width: 20%;
  text-align: center;
}