.align-item {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 2%;
}

.btn {
  margin: 0 10px 0 10px;
  width: 10%;
  padding: 2%;
}

#score-box {
  font-size: 70px;
  width: 170px;
  text-align: center;
  align-items: center;
  display: flex;
  height: 170px;
}

.player-box {
  margin: 2%;
  width: 40%;
  height: 300px;
}
/*
#game-board {
  display: none;
}
*/